<!-- <div class="partner-banner">
  <div class="row">
    <div className="col-xs-6 col-sm-4">
      <img src="/assets/images/partners/lds-gamers.png" alt="LDS Gamers"/>
    </div>
    <div className="col-xs-6 col-sm-4">
      <img src="/assets/images/partners/sc2-replay-stats.png" alt="Sc2 Replay Stats"/>
    </div>
    <div className="col-xs-6 col-sm-4">
      <img src="/assets/images/partners/esports-arcade.png" alt="Esports Arcade"/>
    </div>
  </div>
</div> -->
<footer id="footer">
  <div class="footer-top">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 text-center">
          <a class="site-title" href="{{ '/' | relative_url }}"><img src="/assets/images/site/utah-esports-white-2.png" alt="logo"/></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="row">
          <div class="col-xs-6">
            <h5>Community</h5>
            <ul class="footer-menu">
              <li><a href="/streams">Streams</a></li>
              <li><a href="/social-groups">Social Groups</a></li>
              <li><a href="/teams-and-clubs">Teams</a></li>
              <li><a href="/vendors-and-venues">Vendors</a></li>
            </ul>
          </div>
          <div class="col-xs-6">
            <h5>Site Links</h5>
            <ul class="footer-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/calendar">Calendar</a></li>
              <li><a href="/streamers">Streamers</a></li>
              <li><a href="/submit-event">Submit Event</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <h5>Support</h5>
        <ul class="footer-menu">
          <li><a href="/terms-and-conditions">Terms</a></li>
          <li><a href="/privacy-policy">Privacy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="page__footer-follow">
      <ul class="social-icons">
        {% if site.data.ui-text[site.locale].follow_label %}
          <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
        {% endif %}
        {% if site.twitter.username %}
          <li><a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
        {% endif %}
        {% if site.facebook.username %}
          <li><a href="https://www.facebook.com/{{ site.facebook.username }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
        {% endif %}
        {% if site.author.instagram %}
          <li><a href="https://instagram.com/{{ site.author.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
        {% endif %}
        <!-- <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li> -->
      </ul>
    </div>
    
    <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>

  </div>
</footer>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1e123adb2bd87e04859bb986d/ba440115a89cf427e804fefec.js");</script>