<div class="topbar">
  <div class="topbar__inner-wrap">
    <div class="topbar__nav-links">
      <ul>
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a>About</a></li> -->
        <li><a href="/privacy-policy">Privacy</a></li>
        <li><a href="/terms-and-conditions">Terms</a></li>
      </ul>
    </div>
    <div class="topbar__social-links">
      <ul class="social__links">
        <li><a href="https://www.facebook.com/esportsutah/" target="_blank"><i class="fab fa-fw fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/esportsutah" target="_blank"><i class="fab fa-fw fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/utahesports/" target="_blank"><i class="fab fa-fw fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<style>
  .social__links {
    margin-top: -3px;
  }
  .social__links a {
    color: #fff;
    font-size: 16px;
  }
</style>