.streams {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 30px;
  .stream-container {
    display: flex;
    flex-direction: row;
    .channel {
      margin-bottom: 20px;
      .stream-icon {
        max-width: 25%;
      }
      .stream-meta {
        max-width: 75%;
        padding: 0 10px;
        .status {
          font-size: 12px;
          margin-bottom: 5px
        }
        .name a {
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          letter-spacing: .025em;
        }
        .game {
          display: inline-block;
          padding: 2px 5px;
          border-radius: 3px;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.offline .game {
  background: #FF290F;
}
.online .game {
  background: #3a960c;
}